.slick-prev:before,
.slick-next:before {
  color: #A9A9A9 !important;
  font-size: 26px !important;
}

.slick-prev{
    /* height: 1rem !important; */
    left: 73rem !important;
    top: -30px !important;
}
.slick-next{
    top: -30px !important;
    right: 2.5rem !important;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}